{{! Content for the front page }}
<div class="row">
  <h2>Explore blog posts:</h2>
</div>

<div class="row d-flex justify-content-around">
  {{#each allPosts as |post|}}
    <a href="/post/{{@index}}" class="card-link">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{post.user.username}}, {{formatDate post.creation_time}}</h6>
          <p class="card-text">{{textSummary post.content}}</p>
        </div>
      </div>
    </a>

  {{/each}}
</div>