<h2>{{Post.title}}</h2>
<h5>Posted by: {{Post.user.username}}</h5>
<h5>{{formatDate Post.creation_time}}</h5>
<p>{{Post.content}}</p>

{{#each Post.comments as |comment|}}
<p>Comment #{{@index}}, created at {{formatDate comment.creation_time}}:</p>
<p>{{comment.content}}</p>
{{/each}}

{{#if sess.logged_in}}


{{/if}}
